<div class="fixed-container">
    <slot/>
</div>

<style lang="scss">
    .fixed-container {
        --from-border: 1rem;
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        bottom: var(--from-border);
        right: var(--from-border);
        z-index: 20;
        @media (min-width: 68rem) {
            --from-border: 2rem;
        }
    }
</style>