<footer class="background">
    <div class="g-section footer">
        <p>© 2026 Todos los derechos reservados. Desarrollado por <a target="_blank" href="https://keinermendoza.com">Keiner Mendoza</a>.</p>
    </div>
</footer>

<style>
    .background {
        background-color: var(--clr-white);
    }
    .footer {
        background-color: inherit;
        text-align: center;
        padding: 1.5rem;
    }
</style>