---
import { getCollection } from 'astro:content';
import KeyServiceCard from "@components/KeyServiceCard.astro"

const keyServices = await getCollection('keyServices');
---

<section id="servicios" class="section-background">
    <div class="g-section key-service-section">
        <h2 class="g-title">Servicios Destacados</h2>
        
        <div class="gallery">
            {keyServices.map(
                service => <KeyServiceCard service={service}/>
            )}
        </div>
    </div>
</section>

<style lang="scss">
    .section-background {
        background-color: var(--clr-soft-gray);
    }
    .key-service-section {
        display: grid;
        gap: 3rem;
        @media (min-width:68rem) {gap: 4rem;}
    }   
    .gallery {
        display: grid;
        gap: 2rem;
        @media (min-width:52rem) {grid-template-columns: repeat(2, 1fr);}
        @media (min-width:92.5rem) {grid-template-columns: repeat(3, 1fr);}
    }
</style>