---
interface Props {
  bakgroundColor?: string;
}
const {bakgroundColor} = Astro.props;
---

<section class="generic-section">
    <div class="content-wrapper">
        <slot/>
    </div>
</section>

<style define:vars={{bakgroundColor}}>
    .generic-section {
        padding: 5.625rem 5rem;
        background-color: var(--bakgroundColor, var(--clr-soft-gray));
    }
    .content-wrapper {
        max-width: 95rem;
    }
</style>