---
import type { CollectionEntry } from 'astro:content';
interface Props {
  step: CollectionEntry<'clientSteps'>;
}

const {step} = Astro.props;
const {data} = step;

---

<article>
    <h3>{data.title}</h3>
    <div>
    {data.text.map(paragraph => 
        <p>{paragraph}</p>
    )}
    </div>
</article>

<style>
    

</style>