<div id="trigger-cookie-banner" class="btn">
    <svg width="119" height="119" viewBox="0 0 119 119" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M59.5 1.75488C61.1652 1.75488 62.8139 1.82536 64.4433 1.96351C62.7655 4.08595 61.7646 6.76643 61.7646 9.68069C61.7646 14.0999 64.0661 17.9815 67.5358 20.1918C66.7302 22.5797 66.2936 25.1372 66.2936 27.7968C66.2936 40.9287 76.9391 51.5742 90.071 51.5742C92.9684 51.5742 95.7448 51.056 98.3118 50.1067C100.589 53.0649 104.165 54.971 108.187 54.971C111.483 54.971 114.48 53.6907 116.708 51.6002C117.063 54.183 117.245 56.8202 117.245 59.5C117.245 91.3918 91.3918 117.245 59.5 117.245C27.6083 117.245 1.75488 91.3918 1.75488 59.5C1.75488 27.6083 27.6083 1.75488 59.5 1.75488Z" fill="#FCBA7F" stroke="#1C1F2A" stroke-width="3.51" stroke-linejoin="round"/>
        <path d="M95.1664 14.2097C98.6057 14.2097 101.394 11.4216 101.394 7.9823C101.394 4.54299 98.6057 1.75488 95.1664 1.75488C91.7271 1.75488 88.939 4.54299 88.939 7.9823C88.939 11.4216 91.7271 14.2097 95.1664 14.2097Z" fill="#B77748" stroke="#302D31" stroke-width="2.34"/>
        <path d="M89.5048 32.3258C92.3188 32.3258 94.6 30.0446 94.6 27.2307C94.6 24.4167 92.3188 22.1355 89.5048 22.1355C86.6909 22.1355 84.4097 24.4167 84.4097 27.2307C84.4097 30.0446 86.6909 32.3258 89.5048 32.3258Z" fill="#B77748" stroke="#302D31" stroke-width="2.34"/>
        <path d="M112.716 39.1193C115.217 39.1193 117.245 37.0916 117.245 34.5903C117.245 32.089 115.217 30.0613 112.716 30.0613C110.215 30.0613 108.187 32.089 108.187 34.5903C108.187 37.0916 110.215 39.1193 112.716 39.1193Z" fill="#B77748" stroke="#302D31" stroke-width="2.34"/>
        <path d="M28.9292 62.8969C33.9318 62.8969 37.9872 58.8415 37.9872 53.8388C37.9872 48.8362 33.9318 44.7808 28.9292 44.7808C23.9265 44.7808 19.8711 48.8362 19.8711 53.8388C19.8711 58.8415 23.9265 62.8969 28.9292 62.8969Z" fill="#B77748" stroke="#302D31" stroke-width="2.34"/>
        <path d="M71.9551 91.2032C76.3324 91.2032 79.8809 87.6547 79.8809 83.2774C79.8809 78.9001 76.3324 75.3516 71.9551 75.3516C67.5778 75.3516 64.0293 78.9001 64.0293 83.2774C64.0293 87.6547 67.5778 91.2032 71.9551 91.2032Z" fill="#B77748" stroke="#302D31" stroke-width="2.34"/>
        <path d="M35.7228 86.6741C38.8495 86.6741 41.3841 84.1395 41.3841 81.0129C41.3841 77.8862 38.8495 75.3516 35.7228 75.3516C32.5962 75.3516 30.0615 77.8862 30.0615 81.0129C30.0615 84.1395 32.5962 86.6741 35.7228 86.6741Z" fill="#B77748" stroke="#302D31" stroke-width="2.34"/>
        <path d="M56.1035 66.2936C58.9174 66.2936 61.1986 64.0124 61.1986 61.1984C61.1986 58.3845 58.9174 56.1033 56.1035 56.1033C53.2895 56.1033 51.0083 58.3845 51.0083 61.1984C51.0083 64.0124 53.2895 66.2936 56.1035 66.2936Z" fill="#B77748" stroke="#302D31" stroke-width="2.34"/>
        <path d="M47.6113 40.2516C50.4253 40.2516 52.7064 37.9704 52.7064 35.1564C52.7064 32.3425 50.4253 30.0613 47.6113 30.0613C44.7973 30.0613 42.5161 32.3425 42.5161 35.1564C42.5161 37.9704 44.7973 40.2516 47.6113 40.2516Z" fill="#B77748" stroke="#302D31" stroke-width="2.34"/>
        <path d="M100.481 86.2553C102.384 83.3862 103.976 80.2933 105.21 77.0247M106.529 72.9742C107.163 70.6698 107.623 68.2936 107.896 65.8606L106.529 72.9742ZM61.7646 107.055C75.7117 107.055 88.2223 100.904 96.7319 91.1677L61.7646 107.055Z" stroke="#1D1F29" stroke-width="2.34" stroke-linecap="round"/>
    </svg>
</div>

<script is:inline>
    document.addEventListener('astro:after-swap', showCookieBanner);
    document.addEventListener('DOMContentLoaded', showCookieBanner);
    
    function showCookieBanner() {
        document.getElementById('trigger-cookie-banner').onclick = () => {
            document.getElementById('cookie-banner').style.display = 'flex';
        }
    }
    
</script>

<style lang="scss">
    .btn {
        display: grid;
        place-content: center;
        padding: 1rem;
        border-radius: 50%;
        cursor: pointer;
    position: relative;
    background-color: var(--clr-primary);
    color: var(--clr-white);
    border: none;
    outline: 2px solid var(--clr-white); 
    outline-offset: -5px;
    transition: transform;
    &:hover {
        transform: scale(1.1);
    }

    svg {
        height: 1.5rem;
        width: 1.5rem;
    }
}

</style>