---
import { getCollection } from "astro:content";

const FAQs = await getCollection('FAQs');
---

<div class="accordion">
    {FAQs.map(({data}) => (
    <div class="accordion-item g-box-shadow">
        <button class="accordion-header">
          <span>{data.question}</span>
          <div class="icon-container">
            <svg class="icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M7 10L12 15L17 10" stroke="white" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>
          
        </button>
        <div class="accordion-content">
            {data.text.map(paragraph => <p>{paragraph}</p>)}
        </div>
    </div>  
    )
)}
</div>

<script>import "../assets/faqAcordion";</script>

<style lang="scss">
  $animationTime:0.3s;
  $contentParagraphPadding: 1rem 1rem 0 1rem;

  .accordion {
  --rounded: 24px;

  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;

  @media (min-width:68rem) {
    --rounded: 40px;
  }

  @keyframes accordion-open {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 200px;
  }
}


@keyframes accordion-close {
  0% {
    max-height: 200px;
  }
  100% {
    max-height: 0;
  }
}

@keyframes rounded-open {
  0% {
    border-radius: var(--rounded);
  }
  1% {
    border-radius: var(--rounded) var(--rounded) 0 0;
  }
  100% {
    border-radius: var(--rounded) var(--rounded) 0 0;
  }
}
@keyframes rounded-close {
  0% {
    border-radius: var(--rounded) var(--rounded) 0 0;
  }
  99% {
    border-radius: var(--rounded) var(--rounded) 0 0;
  }
  100% {
    border-radius: var(--rounded);
  }
}

@keyframes padding-out {
  0% {
    padding: $contentParagraphPadding;
    opacity: 1;
  }
  20% {
    padding: $contentParagraphPadding;
    opacity: 0;
  }
  100% {
    padding: 0;
    opacity: 0;
  }
}
}

.accordion-item {

  // opening animations
  &.active {
    .accordion-header {
      background: var(--clr-gray);
      animation: rounded-open $animationTime ease-out forwards;
      
      .icon-container {
        transform: rotate(180deg);
      }
    }
    .accordion-content {
      animation: accordion-open $animationTime ease-out forwards;
      /* heigher than expected */
      max-height: 200px; 
      p {
        padding: $contentParagraphPadding;

        &:last-of-type {
          padding-bottom: 1rem;
        }
      }

    }
  } 

  // closing animations
  &.init:not(.active) {
    .accordion-header {
      animation: rounded-close $animationTime ease-in forwards;

    }
    .accordion-content {
      animation: accordion-close $animationTime ease-in forwards;

      p {
        animation: padding-out 0.5s ease-out forwards;
      }
    }

  }
  
  // initial styles
  .accordion-header {
    border-radius: var(--rounded);
    background-color: var(--clr-white);
    font-size: var(--fs-md);
    font-weight: var(--fw-title);
    font-family: var(--ff-body);
    text-align: left;
    width: 100%;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    outline: none;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    padding: 10px 18px;

    &:hover {
      background-color: var(--clr-gray);
    }  
  }
  
  .accordion-content {
    max-height: 0;
    border-radius: var(--rounded);
    overflow: hidden;
    color: var(--clr-black);
    background: var(--clr-white);
    border-radius: 0 0 var(--rounded) var(--rounded);
    
  }
}


 .icon-container {
    display: grid;
    place-content: center;
    padding: 6px;
    width: 36px;
    border-radius: 100%;
    background-color: var(--clr-primary);
    color: var(--clr-white);
    flex-shrink: 0;
    // transition for basic animation. see this element in opening animations
    transition: transform $animationTime ease-out;
    .icon {
      width: 100%;
      aspect-ratio: 1;
    }
  }

</style>