<button class="btn"  id="shareBtn">
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
    <path stroke-linecap="round" stroke-linejoin="round" d="M7.217 10.907a2.25 2.25 0 1 0 0 2.186m0-2.186c.18.324.283.696.283 1.093s-.103.77-.283 1.093m0-2.186 9.566-5.314m-9.566 7.5 9.566 5.314m0 0a2.25 2.25 0 1 0 3.935 2.186 2.25 2.25 0 0 0-3.935-2.186Zm0-12.814a2.25 2.25 0 1 0 3.933-2.185 2.25 2.25 0 0 0-3.933 2.185Z" />
    </svg>
    <span>Compartir</span>
</button>
<script is:inline> 
document.addEventListener('astro:after-swap', loadShareBtnFunctionality);
document.addEventListener('DOMContentLoaded', loadShareBtnFunctionality);

function loadShareBtnFunctionality() {
  const btn = document.querySelector('#shareBtn');
  // 1. Verificamos disponibilidad de la API de inmediato
  if (navigator.share) {
    // Si existe, mostramos el botón
    btn.className.add('is-suported'); 
    
    btn.addEventListener('click', async () => {
      try {
        await navigator.share({
          title: document.title,
          text: 'Mira lo que encontré en este sitio:',
          url: window.location.href
        });
      } catch (error) {
        console.log('El usuario canceló o hubo un error:', error);
      }
    });
  } else {
    // Opcional: Log para desarrollo
    console.log('Web Share API no soportada en este navegador. El botón permanecerá oculto.');
  }
}

</script>

<style lang="scss">
.btn {
  padding: 1rem 2rem;
  gap: 1rem;
  display: none;
  align-items: center;  

  cursor: pointer;
  position: relative;
  background-color: var(--clr-primary);
  color: var(--clr-white);
  border: none;
  outline: 2px solid var(--clr-white); 
  outline-offset: -5px;
  transition: transform;
  font-family: var(--ff-body);
  font-weight: var(--fw-title);
  border-radius: 1rem;
  font-size: 1rem;
  
  @media screen and (min-width: 85rem) {
    
    &.is-suported {
      display: flex;
    }
  
      border-radius: 50%;
      padding: 0.8rem;
      
      span {
        display: none;
      }
  }

    &:hover {
        transform: scale(1.1);
    }

    svg {
        width: 1.25rem;
        height: 1.25rem;
    }

    
    }

</style>