---
import { getCollection } from 'astro:content';
import KeyServiceCard from './KeyServiceCard.astro';
import GeneralServiceCard from './GeneralServiceCard.astro';
import ClientStepCard from './ClientStepCard.astro';
import TestimonialCard from './TestimonialCard.astro';
import FAQAcordion from './FAQAcordion.astro';

const allKeyServices = await getCollection('keyServices');
const allGeneralServices = await getCollection('generalServices');
const clientSteps = await getCollection('clientSteps');
const testimonials = await getCollection('testimonials');

---
<section>
	<h1>This is my title</h1>
	<p>this is my paragraph</p>

	<br>
	{allKeyServices.map(service => 
		<KeyServiceCard service={service} />
	)}
	<br>
	<br>
	{allGeneralServices.map(service => 
		<GeneralServiceCard service={service} />

	)}
	<br>
	{clientSteps.map(step => <ClientStepCard step={step} /> )}

	<br>
	{testimonials.map(testimonial => <TestimonialCard testimonial={testimonial} /> )}
	<br>
	<hr>
	
	<FAQAcordion />

</section>

<style>
	h1 {
		font-family: var(--font-jakarta);
	}
	p {
		font-family: var(--font-comfortaa);
	}
</style>