:root {
    --clr-white: #FFFFFF;
    --clr-soft-gray: #E9EEFC;
    --clr-gray: #B3C5FF;
    --clr-black: #00123D;
    --clr-primary: #002366;
    --clr-gold: #D4AF37;

    --fs-xs: 0.875rem;
    --fs-sm: 1rem;
    --fs-md: 1.125rem;
    --fs-lg: 1.25rem;
    --fs-xl: 2.25rem;
    --fs-xxl: 2.5rem;

    --fw-body: 400;
    --fw-title: 800;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    
    width: 100%;
    height: 100%;
    font-family: var(--ff-body);
    font-weight: var(--fw-body);
    font-size: var(--fs-sm);
    color: var(--clr-black);
    background-color: var(--clr-soft-gray);
    line-height: 1.5;
}

.g-section {
    padding: 4rem 1.5rem;
    max-width: 95rem;
    margin-inline: auto;
}

.g-title {
    font-size: var(--fs-xl);
    text-align: center;
    font-weight: var(--fw-title);
    font-family: var(--ff-title);
}

@media (min-width:40rem) {
    .g-title {
        font-size: var(--fs-xxl);
    }   
    .g-section {
        padding: 5.625rem 5rem;
    }
}

/* https://getcssscan.com/css-box-shadow-examples 75 airbnb */
.g-box-shadow {
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

/* padding and border radius are define by components */
.g-btn-primary-color {
    font-weight: var(--fw-title);
    background-color: var(--clr-primary);
    color: var(--clr-white);
    text-decoration: none;
    border: var(--clr-primary) 2px solid;
}
.g-btn-secondary-color {
    font-weight: var(--fw-title);
    background-color: transparent;
    color: var(--clr-black);
    border: var(--clr-black) 2px solid;
    text-decoration: none;
}

/* width and padding are define by components */
.g-circle-container {
    background-color: var(--clr-black);
    aspect-ratio: 1;
    border-radius: 100%;
    display: grid;
    place-content: center;
}
.g-circle-container .g-icon {
    width: 100%;
    height: 100%;
}
