---
import { Font } from "astro:assets";
import { ClientRouter } from 'astro:transitions';
import "./src/assets/global.css";
---
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<Font cssVariable="--ff-body" />
		<Font cssVariable="--ff-title" />
		<ClientRouter />	
		<title>Abogada Magdiele</title>
	</head>
	<body>
		<slot />
	</body>
</html>
